<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{HH:mm:ss.SSS} [${APPLICATION_NAME:-}, %X{correlationId:-}]){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(-){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="WARN"/>
    <logger name="ng.shoppi" level="DEBUG"/>
    <logger name="io.dropwizard" level="DEBUG"/>
    <logger name="com.blacklocus.metrics" level="TRACE"/>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>